/* Couleurs principales */
/* :root {
    --primary-color: #d10d07 ; /* Couleur primaire */
    /* --secondary-color: #00436D; Couleur secondaire */
    /* --accent-color: linear-gradient(to right, #00759E, #002571); Couleur d'accent */
    /* font-family: Poppins, sans-serif; */
/* } */

/* Polices */
/* body {
    font-family: 'Poppins', sans-serif; /* Polices par défaut */
/* } */

/* Exemple d'utilisation des couleurs */
/* a {
    color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
} */

/* Ajoutez des styles supplémentaires comme nécessaire */
